.post {
  width: 500px;
  border: 1px dashed #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.red {
  width: 200px;
  height:200px;
  background: red;
  font-size: 1rem;
  color: #fff;
}

.blue {
  width: 200px;
  height:200px;
  background: blue;
  color: #fff;
}
