<!--<div class="post">-->
<!--    &lt;!&ndash;  <h2> {{ title }} </h2>&ndash;&gt;-->
<!--    &lt;!&ndash;  <p><strong> {{number}} </strong></p>&ndash;&gt;-->
<!--    &lt;!&ndash;  <p><strong> {{'Hello' + ' World'}} </strong></p>&ndash;&gt;-->
<!--    &lt;!&ndash;  <img [src]="img" alt="">&ndash;&gt;-->

<!--    <button (click)="onClick()">Click me</button>-->

<!--    <input-->
<!--        type="text"-->
<!--        (keyup.enter)="onInput"-->
<!--        (blur)="onBlur(myInput.value)"-->
<!--        #myInput-->
<!--    />-->
<!--    <p><strong>{{inputValue}}</strong></p>-->

<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolores doloribus est fugit illo illum optio,-->
<!--        praesentium ratione rem sapiente!</p>-->
<!--</div>-->


<!--<input type="text" [value]="title" (input)="onInput($event)">-->
<!--<input type="text" [(ngModel)]="title">-->
<!--<p> {{ title }}</p>-->


<!-- ngStyle-->

<!--<button (click)="toggleBackground = !toggleBackground" >Toggle </button>-->

<!--<div [ngStyle]="{-->
<!--    borderRadius: '5px',-->
<!--    width: '222px',-->
<!--    height: '222px',-->
<!--    border: '1px solid #ccc',-->
<!--    background: toggleBackground ? 'red' : 'blue'-->
<!--}">-->

<!--</div>-->

<!-- ngStyle end-->

<!-- ngClass-->
<!--<div [ngClass]="{-->
<!--  red: toggleBackground,-->
<!--  blue: !toggleBackground-->
<!--}">-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tenetur?</p>-->
<!--</div>-->
<!-- ngClass end -->

<!-- class 2-->
<!--<div-->
<!--    [class.blue]="!toggleBackground"-->
<!--    [class.red]="toggleBackground"-->
<!--&gt;-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tenetur?</p>-->
<!--</div>-->

<!-- class 2 -->

<!-- ngif директива -->
<!--<button (click)="toggle = !toggle"> Toggle</button>-->
<!--<button (click)="toggle = 12"> Set togggle 12</button>-->

<!--v1-->
<!--<p class="blue" *ngIf="toggle">Lorem ipsum dolor sit amet.</p>-->
<!--<p class="red" *ngIf="!toggle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quod.</p>-->
<!--v1 end -->


<!--v2-->
<!--<p class="red" *ngIf="toggle; else blueP">Lorem ipsum dolor sit amet.</p>-->
<!--<ng-template #blueP>-->
<!--    <p class="blue" *ngIf="!toggle">Lorem ipsum dolor sit amet.</p>-->
<!--</ng-template>-->
<!--v2 end -->

<!-- ngif директива end -->


<!--ngSwitch-->
<!--<div [ngSwitch]="toggle">-->
<!--  <p class='red' *ngSwitchCase="true">Lorem ipsum dolor sit amet.</p>-->
<!--  <p class='blue' *ngSwitchCase="false">Lorem ipsum.</p>-->
<!--  <p *ngSwitchDefault>Lorem ipsum dolor.</p>-->
<!--</div>-->
<!--ngSwitch end-->



<!-- ngFor -->
<!--<ul>-->
<!--  <li *ngFor="let num of arr; let idx = index">-->
<!--    {{idx + 1 }} <strong>{{ num }}</strong>-->
<!--  </li>-->
<!--</ul>-->

<!--<ul style="list-style: none">-->
<!--  <li *ngFor="let post of objs">-->
<!--    <p>{{post.title}} <b> {{post.author}} </b></p>-->
<!--    <ul style="list-style: none">-->
<!--      <li *ngFor="let comment of post.comments">-->
<!--        <div>-->
<!--          <small>{{comment.name}}</small><br>-->
<!--          <p>{{ comment.text}}</p>-->
<!--        </div>-->
<!--      </li>-->
<!--    </ul>-->
<!--</ul>-->


<!-- ngFor end-->


<!-- Pipes -->
<!--<div>-->
<!--  {{ now | date:'long' | uppercase | lowercase  }}-->
<!--</div>-->
<!-- Pipes end -->